* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    background-color: #e8d2c7;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: large;
    color: #6b4940;
    padding: 2.5rem;
}

.navbar a:hover{
    color: #e8d2c7;
    transition-duration: 0.3s;
    background-color: #6b4940;
}

.navbar li{
    list-style: none;
}

.navbar ul{
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}

.logo {
    margin-left: 2rem;
    
}

.nav-elements {

}